@page "/about-us"
@model FamilyChildcare.Pages.aboutModel
@{
}


<style>
    .about-wrap .container .row {
        margin: 30px 0;
    }

    .card {
        text-align: center;
    }

    .card-title {
        font-weight: bold;
    }

    .white-color {
        color: #1321e0;
        font-style: oblique;
        font-size: 16px;
    }
</style>

<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/Img-015.jpg" data-lazyload="/Theme/NasriPhotos/IMG-015.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>
            </li>
            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/IMG-017.jpg" data-lazyload="/Theme/NasriPhotos/IMG-017.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>
                
            </li>
        </ul>
    </div>
</div>

<div class="about-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/img-36.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">
                            Nasri Family Childcare offers the opportunity for each child to develop physically,
                            socially and cognitively according to their learning style. Each child is
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">
                            Considered unique in temperament and rate of development. Knowing the incredible
                            impact, the early years have on a child, it is our goal to provide a supportive

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/img-38.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/img-022.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">
                            Environment where we work together to make each child's first years a positive and
                            valuable experience. We encourage inclusivity through our environment, books,

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">
                            Activities, and our curriculum. I firmly believe that by maintaining open
                            communications, we can work together to serve the best interests of your child and family.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/Img-018.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/IMG-017.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">
                            I recognize how important it is for you to know the exciting things your child
                            is involved in and the routine things that influence your care at home.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4" style="margin:auto;">
                <div class="card">
                    <div class="card-body white-color">
                        <h5 class="card-title">Nasri Family</h5>
                        <p class="card-text white-color">The State of Washington requires that I take annual training on topics related to caring for young children. Feel free to ask me about my training. I will share any interesting things I learn with the families in my program. I will continue to take these training keeping in mind the children I care for and their specific needs. I also have my current CPR/First Aid and HIV awareness training.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/Img-013.jpg" style="height:350px;width:100%;border-radius:15px;" alt=""></div>
            </div>
        </div>
    </div>
</div>
