@page  "/contact-us"
@model FamilyChildcare.Pages.contactModel
@{
}


<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/Img-61.jpg" data-lazyload="/Theme/NasriPhotos/IMG-61.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>
            </li>
            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/IMG-64.jpg" data-lazyload="/Theme/NasriPhotos/IMG-64.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>
        </ul>
    </div>
</div>


<div class="contact-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="title">
                    <p>
                        Please contact me in person, by phone, or by email anytime you have a question or concern
                        about your child or our childcare program. Drop off and pick up times are very busy times
                        for us. If you would like to share with us important information about your child, please
                        feel free to do so. If you would like to have a longer conversation, please schedule a time
                        with us so that we can focus on your concerns.

                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="conInfo phonewrp emailWrp"><span>E-MAIL</span> <a href="mailto:info@domainname.com">Nasrifcc2006@hotmail.com</a></div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="conInfo phonewrp"><span>Phone</span> <a href="tel:206-496-9546">206-496-9546 </a></div>
                    </div>
                </div>
                <div class="mapwrp">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44637.20790420869!2d-84.40644977934487!3d33.74308148485672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C%20GA%2C%20USA!5e0!3m2!1sen!2s!4v1591851766012!5m2!1sen!2s" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="contact_form">
                    <div class="title">
                        <h1>GET CONSULTATION!</h1>
                    </div>
                    <form>
                        <div class="input-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-group">
                            <input type="email" name="Email" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <input type="number" name="Phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="input-group">
                            <textarea class="form-control" placeholder="Comments"></textarea>
                        </div>
                        <div class="input-group">
                            <input type="submit" value="Contact Us" name="submit" class="sub">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Newsletter Start-->
<div class="newsletter-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title">
                    <h1>Newsletter</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-lg-6">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <button class="sigup"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
