@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/Img-013.jpg" data-lazyload="/Theme/NasriPhotos/IMG-013.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>                
            </li>
            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/IMG-014.jpg" data-lazyload="/Theme/NasriPhotos/IMG-014.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>
              
            </li>
        </ul>
    </div>
</div>

<div class="school-wrap">
    <div class="container">
        <div class="school_sec">
            <div class="row">
                <div class="col-lg-4">
                    <div class="school_box">
                        <div class="schoolImg"><img src="~/Theme/NasriPhotos/IMG-011.jpg" alt=""></div>
                        <h3><a href="#">TODDLERS </a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor, pulvinar rhoncus risus. Fusce vel rutrum mi.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="school_box">
                        <div class="schoolImg"><img src="~/Theme/NasriPhotos/IMG-012.jpg" alt=""></div>
                        <h3><a href="#">PRESCHOOL </a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor, pulvinar rhoncus risus. Fusce vel rutrum mi.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="school_box">
                        <div class="schoolImg"><img src="~/Theme/NasriPhotos/IMG-015.jpg" alt=""></div>
                        <h3><a href="#"> SCHOOL-AGE </a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor, pulvinar rhoncus risus. Fusce vel rutrum mi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-wrap" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about_box">
                    <ul class="tick">
                        <li>Providing care since 2007</li>
                        <li>Mission- increase the development of children through an interactive experience, self-expression, Cultural and diverse play</li>
                        <li>Vision- I aspire to build on children’s strengths and help them develop cognitively</li>
                        <li>Emotionally, intellectually, and psychically and allow opportunities that promote</li>
                        <li>All the developmental areas of learning</li>
                        <li>Provide authentic food and exposure to the Somali language. </li>
                    </ul>
                    <div class="readmore"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="aboutImg"><img src="~/Theme/NasriPhotos/IMG-022.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-wrap">
    <div class="container">
        <div class="title title_center">
            <h1>Our Gallery</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="galleryImg left-side-image">
                    <img src="~/Theme/NasriPhotos/IMG-6871.jpg" alt="">
                    <div class="portfolio-overley">
                        <div class="content"> <a href="~/Theme/NasriPhotos/IMG-6871.jpg" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="galleryImg">
                    <img src="~/Theme/NasriPhotos/IMG-017.jpg" alt="">
                    <div class="portfolio-overley">
                        <div class="content"> <a href="~/Theme/NasriPhotos/IMG-018.jpg" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
                <div class="galleryImg">
                    <img src="~/Theme/NasriPhotos/IMG-018.jpg" alt="">
                    <div class="portfolio-overley">
                        <div class="content"> <a href="~/Theme/NasriPhotos/IMG-018.jpg" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="galleryImg left-side-image">
                    <img src="~/Theme/NasriPhotos/IMG-6869.jpg" alt="">
                    <div class="portfolio-overley">
                        <div class="content"> <a href="~/Theme/NasriPhotos/IMG-6869.jpg" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-wrap">
    <div class="container">
        <div class="title">
            <p>Testimoinials</p>
            <h1> What Parents Say </h1>
        </div>

        <ul class="owl-carousel testimonials_list unorderList">
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="newsletter-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title">
                    <h1>Newsletter</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-lg-6">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <button class="sigup"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .schoolImg img {
        width: 370px;
        height: 315px;
    }

    .left-side-image img {
        height: 498px;
    }

    .clientImg img {
        width: 108px;
    }
</style>