@page "/services"
@model FamilyChildcare.Pages.ServiceModel
@{
}

<style>
    .about-wrap .container .row {
        margin: 30px 0;
    }

    .card {
        text-align: center;
        /*background-color: antiquewhite;*/
    }

    .card-title {
        font-weight: bold;
    }

    .white-color {
        color: white !important;
    }

    .single-blog img {
        height: 250px;
    }
    .clientImg img {
        width: 108px;
    }
</style>

<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/img-52.jpg" data-lazyload="/Theme/NasriPhotos/IMG-52.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>
            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/img-54.jpg" data-lazyload="/Theme/NasriPhotos/IMG-54.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>

            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/img-68.jpg" data-lazyload="/Theme/NasriPhotos/img-68.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>


            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/img-63.jpg" data-lazyload="/Theme/NasriPhotos/IMG-63.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>

            <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/Theme/NasriPhotos/img-65.jpg" data-lazyload="/Theme/NasriPhotos/IMG-65.jpg">
                <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="150" data-speed="600" data-start="1600"><span> Kiddies World </span></div>
                <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur, <br />
                    pulvinar rhoncus risus. Fusce vel rutrum mi. Suspendisse pretium tellus eu ipsum.
                </div>

            </li>
        </ul>
    </div>
</div>
<!-- Gallery Start -->
<div class="blog-section">
    <div class="container">
        <div class="title title_center">
            <h1>Our Servies</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="#"> <img src="~/Theme/NasriPhotos/img-51.jpg" alt="Image"> </a>
                    <div class="blog-content">
                        <a href="#">
                            <h5>Nasri Family Service</h5>
                        </a>
                        <p>
                            Twice yearly, I will schedule a regular time to meet with you to discuss your child in a
                            more formal way through a family/provider conference. In these conferences, we will
                            communicate with each other about goals, strengths, and challenges for your child. At the
                            time of registration and each year thereafter, we will ask about your child's development,
                            behavioral, health, linguistic, social-cultural, social and other relevant information to
                            accommodate each child's individual strengths characteristics, strengths, and needs.
                            We need to provide the best program for your child. We will provide a
                            developmental screening for each child from birth through age five.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="#"> <img src="~/Theme/NasriPhotos/img-53.jpg" alt="Image"> </a>
                    <div class="blog-content">
                        <a href="#">
                            <h5>NTrial Period</h5>
                        </a>
                        <p>
                            We try to make the child’s transition a smooth one. We will try to make them
                            comfortable and do what is needed to help them through this transitional time.
                            Anything such as a favorite blanket and/or doll is fine to bring.
                            The trial period will be two weeks. This period is used to observe the child's
                            adjustment to care and to talk about concerns. I will talk to you daily about
                            your child's day. Please tell me if you have any concerns after this two-week
                            the trial period, we will determine if the childcare services are satisfactory to
                            everyone. If any problems cannot be resolved, the care is terminated
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="#"> <img src="~/Theme/NasriPhotos/img-60.jpg" alt="Image"> </a>
                    <div class="blog-content">
                        <a href="#">
                            <h5>Introductory Visit</h5>
                        </a>
                        <p>
                            Each new family needs to visit my home at least 1 time prior to enrollment.
                            Please call in advance to schedule a visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-wrap">
    <div class="container">
        <div class="title">           
            <h3>Hours of Operation & Parents utilizing DSHS & Working Connections Subsidy </h3>
        </div>
        <ul class="owl-carousel testimonials_list unorderList">
            <li class="item">
                <div class="testimonials_sec">                    
                    <p>
                        Childcare program - Monday-Sunday 24hours
                        Fulltime 5-10 hours of care a day.
                        Part-time: less than 5 hours
                        Drop ins
                        Preschool program- Monday-Friday 9am-3pm
                    </p>
                    <h3>Ismail  <span>Warsame</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <p>
                        Full Time: 5-10 hours of care a day
                        Part Time: less than 5 hours of care a day
                        Drop in:  DSHS/Working Connections does not cover drop in/hourly care
                    </p>
                    <h3>Ismail  <span>Warsame</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
            <li class="item">
                <div class="testimonials_sec">
                    <div class="client_box">
                        <div class="clientImg"><img alt="" src="~/Theme/NasriPhotos/IMG-012.jpg"></div>
                        <ul class="unorderList starWrp">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur elit. Phasellus porttitor leo id tortor cursus, a gravida sem feugiat. Maecenas nisl libero, lobortis id hendrerit sed, fermentum ut nunc. Duis condimentum tincidunt posuere. Donec at dui sit amet nisl semper laoreet. Sed volutpat tincidunt ante, non malesuada massa.</p>
                    <h3>David Malan <span>Aliquam sodales</span></h3>
                    <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
                </div>
            </li>
        </ul>
    </div>
</div>
